:root {
  --primary: #222222;
  --card-bg: #333333;
  --button-bg: #b2c251;
  --button-bg-g: #5a6268;
  --text-color-light-gray: #999999;
  --text-color-light-yellow: #b2c251;
  --text-color-blueish: #2a3c50;
  --light: #fff;
  --heart-color: #dc3545;
}

html {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--light);
}

body {
  background: var(--primary);
  margin: 0px 0px;
  line-height: 1.7;
}
.wrapper {
  margin: 0px 74px;
}

.section-heading {
  text-align: center;
}
.left-text {
  font-size: 30px;
  font-weight: 200;
}
.right-text {
  font-size: 30px;
  font-weight: 800;
}

.blog-card img {
  width: 100%;
}
.blog-card-wrapper {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 60px;
  margin-bottom: 250px;
}
.blog-card {
  background-color: var(--card-bg);
  transition: 0.5s;
}
.blog-card:hover,
.blog-card:focus {
  transform: translateY(-3px);
}
.blog-box {
  padding: 30px;
  padding-top: 10px;
}
.blog-box h3 {
  font-weight: 100;
  font-size: 17px;
}
.blog-box h3:hover {
  color: var(--text-color-light-yellow);
}
.blog-box p,
.blog-box div {
  color: var(--text-color-light-gray);
}
.blog-box div {
  display: inline;
  padding: 5px;
}

.services-card-wrapper {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 60px;
  margin-bottom: 200px;
}

.services-card {
  background-color: var(--card-bg);
  padding: 40px;
  text-align: center;
}
.services-card p {
  color: var(--text-color-light-gray);
}
.learn-more {
  color: var(--text-color-light-yellow);
  transition: 0.5s;
}
.learn-more:hover {
  transform: translateX(3px);
}
.sc-icon {
  display: inline-block;
  border-radius: 50%;
  padding: 20px 25px;
  background-color: var(--text-color-light-yellow);
}
.sc-icon img {
  width: 50px;
}

.get-in-touch-wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 90px;
  margin-top: 30px;
}
.get-in-touch-wrapper h3 {
  font-weight: 100;
  font-size: 30px;
}
.get-box1 div,
.get-box2 div {
  color: var(--text-color-light-gray);
}
.input-div input,
.input-div textarea {
  width: 100%;
  background-color: var(--card-bg);
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}
.get-box1 button {
  background-color: var(--text-color-light-yellow);
  color: var(--light);
  border: none;
  padding: 20px 25px;
  font-size: 12px;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.get-box1 button:hover {
  opacity: 0.9;
}
.get-box2 h4 {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--text-color-blueish);
  margin: 0;
}
.get-box2 p {
  margin: 0;
  font-size: 14px;
}
.get-box2 div {
  margin-bottom: 20px;
}

.heart {
  color: var(--heart-color);
}
.colorlib-text {
  color: var(--text-color-light-yellow);
}
footer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
  color: var(--text-color-light-gray);
  font-weight: 200;
}
.footer-icons {
  margin-top: 25px;
}

.footer-icons span {
  border-radius: 50%;
  padding: 10px 24px;
  color: var(--text-color-light-yellow);
  background-color: var(--card-bg);
  margin: 0px 10px;
  font-size: 22px;
  display: inline-block;
}

.testi-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 60px;
  margin-bottom: 200px;
}
.testimonial-card {
  display: flex;
}
.testimonial-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 2px;
}
.test-box {
  background-color: var(--card-bg);
  padding: 20px;
  border-radius: 5px;
}
.test-box p {
  color: var(--text-color-light-gray);
  font-size: 16px;
}
.test-txt {
  font-weight: lighter;
  font-size: 14px;
}

.about-me {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 30px;
  align-items: center;
  justify-items: center;
  margin-top: 150px;
  margin-bottom: 250px;
}
.about-me-box {
  padding-top: 10px;
  padding-left: 25px;
}
.about-me .section-heading {
  text-align: unset;
}
.about-me h3 {
  color: var(--text-color-light-gray);
  font-weight: 300;
}
.about-me p {
  color: var(--text-color-light-gray);
  font-weight: 200;
  font-size: 15px;
  margin: 0;
}
.about-me button {
  background-color: var(--text-color-light-yellow);
  color: var(--light);
  border: none;
  padding: 10px 18px;
  font-size: 12px;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 30px;
}
.about-me button:hover {
  opacity: 0.9;
}
.about-me-box > :last-child {
  background-color: var(--button-bg-g);
}

.about-me img {
  width: 95%;
}

/* education card */
.card-education {
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 30px;
}
.resume-grid-wrapper {
  display: grid;
  gap: 30px;
  grid-template-areas: "education experience";
  margin-top: 50px;
}
.education {
  grid-area: education;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.experience {
  grid-area: experience;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.resume .date {
  font-size: 13px;
}
.resume h2,
.resume p,
.resume h4,
.resume h3 {
  margin: 0;
}
.resume p,
.resume h4 {
  color: var(--text-color-light-gray);
  font-weight: 100;
}
.resume h4 {
  margin-top: 15px;
  font-size: 14px;
}
.resume h2 {
  color: var(--text-color-light-yellow);
  font-weight: 300;
  font-size: 20px;
}
.resume h3 {
  font-weight: 300;
  padding-bottom: 15px;
  font-size: 25px;
}

/* portfolio */
.portfolio-box-wrapper {
  display: grid;
  row-gap: 40px;
  column-gap: 30px;
  margin-top: 40px;
  margin-bottom: 200px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.portfolio-box-wrapper img {
  width: 100%;
}
.portfolio-box-wrapper h2,
.portfolio-box-wrapper p {
  margin: 0;
  text-align: center;
}
.portfolio-box-wrapper h2 {
  font-weight: 200;
  font-size: 18px;
}
.portfolio-box-wrapper p {
  font-weight: 100;
  font-size: 12px;
}

.portfolio-types {
  text-align: center;
}
.portfolio-types span {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  color: var(--text-color-light-gray);
  font-weight: 300;
}
.portfolio-types span:first-child {
  color: var(--text-color-light-yellow);
}
.portfolio-types span:hover {
  color: var(--text-color-light-yellow);
}

.top-container {
  background: url(./resources/mainpic.jpg);
  width: 100%;
  height: 100vh;
  min-height: 800px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.top-container::before {
  content: '';
  position:absolute;
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
.showcase {
  text-align: center;
  color: var(--light);
  position:absolute;
  line-height: 1.2;
  padding-top: 50px;
}

.showcase h3{
    font-size: 65px;
    font-weight: 300;
    margin: 0;
}
.showcase h1{
    font-size: 80px;
    font-weight: 700;
    margin: 0;
}
.showcase p{
    color: var(--text-color-light-gray);
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
}

.main-nav{
    position: absolute;
    z-index: 2;
    width:100%;
    top:20px
}
.main-nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-nav a{
    text-decoration: none;
    color: var(--light);
    text-transform: uppercase;
    margin: 0px 20px;
    letter-spacing: 3px;
    font-size: 14px;
}
.main-nav a:hover{
    color: var(--text-color-light-yellow);
}

@media (max-width: 770px) {
  .get-in-touch-wrapper {
    grid-template-columns: 1fr;
  }
  .testi-wrapper {
    grid-template-columns: 1fr;
  }
  .resume-grid-wrapper {
    grid-template-areas: "education" "experience";
  }
}

@media (max-width: 990px) {
  .about-me {
    grid-template-columns: 1fr;
  }
}
